VITE_FIREBASE_API_KEY=your-api-key
VITE_FIREBASE_AUTH_DOMAIN=your-auth-domain
VITE_FIREBASE_PROJECT_ID=your-project-id
VITE_FIREBASE_STORAGE_BUCKET=your-storage-bucket
VITE_FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
VITE_FIREBASE_APP_ID=your-app-id

VITE_SUPABASE_URL=your-supabase-url
VITE_SUPABASE_STORAGE_URL=hyour-supabase-storage-url
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key

RESEND_API_KEY=re_Fv2qHHzY_BoFzuckxiL8uTn1y6yUZ72XZ
